<a href="https://colab.research.google.com/github/Andrzej-Alex/APK/blob/main/Lab5_A_A_Python_Pandas_cz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programowanie w Python
Autor dr Aneta Polewko-Klim

## Pandas część 1
Homepage -http://pandas.pydata.org/  
DataCamp web https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python 

**Additional tutorials**

http://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

### Import niezbędnych bibliotek

In [ ]:
import pandas as pd  # biblioteka do obsługi danych w formie tabelarycznej/ramek danych
import numpy as np   # biblioteka do obsługi danych w macierzy, wektorów, tablic
import os  # biblioteka do obsługi plików i folderów

In [ ]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__deprecated_num_index_names', '__dir__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [ ]:
'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long'

('api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long')

###  Tworzenie ramek danych

In [ ]:
dr = pd.date_range('1/6/2019', periods=8)  # wektor/kolumna, generowanie wektora z dat, przedział = liczba miesięcy 
dr

DatetimeIndex(['2019-01-06', '2019-01-07', '2019-01-08', '2019-01-09',
               '2019-01-10', '2019-01-11', '2019-01-12', '2019-01-13'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
s = pd.Series(np.random.randn(5), index=['A', 'B', 'C', 'D', 'E'])  # kolumna + nazwy wierszy (wartości są losowane)
s

A    0.780757
B   -1.193663
C   -1.230405
D    1.205186
E    1.071811
dtype: float64

In [ ]:
# tworzymy ramkę danych na podstawie zmiennej dr, zwróć uwagę na rozmiary
df = pd.DataFrame(np.random.randn(8, 3), index=dr, columns=['A', 'B', 'C'])   
df

                   A         B         C
2019-01-06  0.218240  1.532224 -0.805443
2019-01-07  0.810192 -0.764097  1.269986
2019-01-08  1.290535 -0.808343 -1.188088
2019-01-09  0.000956  0.689131  1.572337
2019-01-10 -0.189681 -0.084810 -0.774417
2019-01-11  1.055855 -0.452934  0.659471
2019-01-12  0.942394  0.479138 -0.937518
2019-01-13 -0.860915  1.728896  0.771871

In [ ]:
# tworzymy ramkę danych na podstawie zmiennej dr, zwróć uwagę na rozmiary
zawartosc = np.random.randn(8, 3)
df2 = pd.DataFrame(zawartosc, index=dr, columns=['A', 'B', 'C'])   
df2

                   A         B         C
2019-01-06  0.526746  0.834452 -0.687589
2019-01-07  0.198661 -0.597429 -0.074528
2019-01-08 -0.548598 -1.422524 -0.160386
2019-01-09  0.242510  1.113301  0.629836
2019-01-10  2.514914 -0.316653 -0.059952
2019-01-11  0.338057 -0.017216  0.486389
2019-01-12  1.506091 -1.045550 -1.568449
2019-01-13 -0.146128 -0.339451 -3.236412

In [ ]:
# tworzenie wielowymiarowych ramek danych tu "kostka 3D o wymiarach 2x5x4"
pan = pd.Panel(np.random.randn(2, 5, 4), 
              items=['Item1', 'Item2'],
              major_axis=pd.date_range('1/1/2000', periods=5),
              minor_axis=['A', 'B', 'C', 'D'])

AttributeError: ignored

### Tworzymy przykładową ramkę danych

In [ ]:
dictionary = {'one':[1,10,100,1000,10000],
     'two':[2,20,200,2000,2000],
     'price':['prod1','prod3','prod2','prod1','prod2']}  # wykorzystamy słownik do utworzenia odpowiedniej struktury
dictionary

{'one': [1, 10, 100, 1000, 10000],
 'two': [2, 20, 200, 2000, 2000],
 'price': ['prod1', 'prod3', 'prod2', 'prod1', 'prod2']}

In [ ]:
dfs = pd.DataFrame(dictionary)   # tworzymy ramkę danych wg. nazwaObietu = nazwaBiblioteki.nazwaFunkcji(argumentMetody)
dfs

     one   two  price
0      1     2  prod1
1     10    20  prod3
2    100   200  prod2
3   1000  2000  prod1
4  10000  2000  prod2

In [ ]:
type(dfs)  # informacje o obiekcie

pandas.core.frame.DataFrame

In [ ]:
dfs.head(2)  # pokazuje 2 pierwsze wiersze tabeli

   one  two  price
0    1    2  prod1
1   10   20  prod3

In [ ]:
dfs.head

<bound method NDFrame.head of      one   two  price
0      1     2  prod1
1     10    20  prod3
2    100   200  prod2
3   1000  2000  prod1
4  10000  2000  prod2>

In [ ]:
dfs.tail()  # pokazuje 3 końcowe wiersze tabeli

     one   two  price
0      1     2  prod1
1     10    20  prod3
2    100   200  prod2
3   1000  2000  prod1
4  10000  2000  prod2

In [ ]:
dfs.info() # podstawowe informacje o danych

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     5 non-null      int64
 1   two     5 non-null      int64
 2   price   5 non-null      object
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [ ]:
dfs.shape  # liczba wierszy i liczba kolumn

(5, 3)

In [ ]:
dfs.columns # wyswietla nazwy kolumn tabeli

Index(['one', 'two', 'price'], dtype='object')

In [ ]:
dfs['price'].value_counts()  # zliczamy ilość elementów o tych samych wartościach z kolumny 'price'

prod1    2
prod2    2
prod3    1
Name: price, dtype: int64

In [ ]:
z = dfs['price']
z
z.value_counts()

prod1    2
prod2    2
prod3    1
Name: price, dtype: int64

In [ ]:
dfs[['price', 'one']] # ograniczenie zbioru do wybranych nazw kolumn 'price', 'one' z tabeli

In [ ]:
dfs[0:3] # selekcja wybranych wierszy tabeli data np: 0,1,2

## Metoda: groupby
##### metoda grupuje dane tabelaryczne względem kolumny, na wyodrębnionych w ten sposób podgrupach/podzbiorach wykonuje rónocześnie zadeklarowaną operację

In [ ]:
dfPrice = dfs.groupby('price')  # grupujemy dane po kolumnie z nagłówkiem 'price'

In [ ]:
dfPrice.ngroups  # sprawdzenie liczby utworzonych podzbiorów <=> liczba kategorii w kolumnie 'price'

3

In [ ]:
dfPrice.groups  # podstawowe informacje o typach danych wewnątrz ramki danych

{'prod1': [0, 3], 'prod2': [2, 4], 'prod3': [1]}

In [ ]:
dfPrice.get_group('prod1') # wydzielenie podzbioru danych 'prod1'

    one   two  price
0     1     2  prod1
3  1000  2000  prod1

In [ ]:
dfPrice.describe()  # tabela podstawowych statystych dla poszczególnych podzbiorów

        one                                                                 \
      count    mean          std    min      25%     50%      75%      max
price
prod1   2.0   500.5   706.399674    1.0   250.75   500.5   750.25   1000.0
prod2   2.0  5050.0  7000.357134  100.0  2575.00  5050.0  7525.00  10000.0
prod3   1.0    10.0          NaN   10.0    10.00    10.0    10.00     10.0

        two
      count    mean          std    min    25%     50%     75%     max
price
prod1   2.0  1001.0  1412.799349    2.0  501.5  1001.0  1500.5  2000.0
prod2   2.0  1100.0  1272.792206  200.0  650.0  1100.0  1550.0  2000.0
prod3   1.0    20.0          NaN   20.0   20.0    20.0    20.0    20.0

In [ ]:
dfPrice.sum()   # sumowanie wartości obiektów po kolumnach dla poszczególnych podzbiorów

         one   two
price
prod1   1001  2002
prod2  10100  2200
prod3     10    20

In [ ]:
dfPrice.mean()  # srednia z kolumn

          one     two
price
prod1   500.5  1001.0
prod2  5050.0  1100.0
prod3    10.0    20.0

### Przykłady grupowania danych po wielu kolumnach

In [ ]:
grouped = dfs.groupby(['price', 'one'])

In [ ]:
print(grouped.get_group)

<bound method BaseGroupBy.get_group of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f0bc1d19c00>>

In [ ]:
print(grouped.sum())

              two
price one
prod1 1         2
      1000   2000
prod2 100     200
      10000  2000
prod3 10       20

In [ ]:
print(grouped.sum().index)

MultiIndex([('prod1',     1),
            ('prod1',  1000),
            ('prod2',   100),
            ('prod2', 10000),
            ('prod3',    10)],
           names=['price', 'one'])

### Praca na danych z pliku: zapis danych do pliku


The pandas I/O API is a set of top level reader functions accessed like pd.read_csv() that generally return a pandas object.

* read_csv
* read_excel
* read_hdf
* read_sql
* read_json
* read_msgpack (experimental)
* read_html
* read_gbq (experimental)
* read_stata
* read_sas
* read_clipboard
* read_pickle
The corresponding writer functions are object methods that are accessed like df.to_csv()

* to_csv
* to_excel
* to_hdf
* to_sql
* to_json
* to_msgpack (experimental)
* to_html
* to_gbq (experimental)
* to_stata
* to_clipboard
* to_pickle###  Praca na danych z pliku: odczyt danych z pliku

In [ ]:
#data = pd.read_excel( 'movies.xlsx')
data = pd.read_excel('titanic_train.xlsx')  # tak wczytujemy dane z pliku jeśli jest w folderze roboczym
#data = pd.read_excel('e:/DYDAKTYKA/Python/laboratoriumtitanic_train.xlsx')
#folder_path = 'e:/DYDAKTYKA/Python/laboratorium/titanic_train.xlsx'
#data = pd.read_excel(os.path.join(folder_path, 'titanic_train.xlsx'))  # tak wczytujemy dane z pliku jeśli jest w folderze roboczym

In [ ]:
from google.colab
drive.mount ('/import/drive')

In [ ]:
data.head()  # metoda .head wyświetla dla wszystkich kolumn 5 pierwszych wierszy

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
print('Ilu było pasażerów?')
print(data[(data['Pclass']==1)].shape)
print(data[(data['Pclass']==2)].shape)
print(data[(data['Pclass']==3)].shape)

print('Ilu pasażerów przeżyło?')
print(data[(data['Pclass']==1) & (data['Survived']==1)].shape)
print(data[(data['Pclass']==2) & (data['Survived']==1)].shape)
print(data[(data['Pclass']==3) & (data['Survived']==1)].shape)

print('Ile było kobiet na statku?')
print(data[(data['Pclass']==1) & (data['Sex']== 'female')].shape)
print(data[(data['Pclass']==2) & (data['Sex']== 'female')].shape)
print(data[(data['Pclass']==3) & (data['Sex']== 'female')].shape)

print('Ile kobiet przeżyło?')
print(data[(data['Pclass']==1) & (data['Survived']==1) & (data['Sex']== 'female')].shape)
print(data[(data['Pclass']==2) & (data['Survived']==1) & (data['Sex']== 'female')].shape)
print(data[(data['Pclass']==3) & (data['Survived']==1) & (data['Sex']== 'female')].shape)

Ilu było pasażerów?
(216, 12)
(184, 12)
(491, 12)
Ilu pasażerów przeżyło?
(136, 12)
(87, 12)
(119, 12)
Ile było koniet na statku?
(94, 12)
(76, 12)
(144, 12)
Ile kobiet przeżyło?
(91, 12)
(70, 12)
(72, 12)

### Praca na danych z pliku: zapis danych do pliku

In [ ]:
############# składnia funkcji dla plików z rozszerzeniem *.csv
# data.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, 
#            header=True, index=True, index_label=None, mode='w', encoding=None, 
#            compression=None, quoting=None, quotechar='"', line_terminator='\n', 
#            chunksize=None, tupleize_cols=False, date_format=None, doublequote=True, 
#            escapechar=None, decimal='.', **kwds)

In [ ]:
############## składnia funkcji dla plików z rozszerzeniem *.xlsx
# data.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, 
#              header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, 
#              merge_cells=True, encoding=None, inf_rep='inf', verbose=True)

In [ ]:
#dataTitanic = data
#data.to_excel('titanic_train.xlsx') # zapis do pliku *.xlsx
#data.to_csv(os.path.join(folder_path, 'titanic_copy.csv'), index=False)    # zapis do pliku *.csv

### Zadanie 1
#### a) wypisz: pierwsze 3 kolumny, wiersze od 4 do 9, 
#### b) wyznacz średnią wieku pasażerów statku
#### c) określ ile osób przeżyło katastrofę statku
#### d) określ statystyki podstawowe dla 2 grup/klas: male i female
#### e) ilu pasażerów podróżowało klasą 1 ilu 3

In [ ]:
#### Zadanie 1 - A
print(data.iloc[3:10, :3])

   PassengerId  Survived  Pclass
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

In [ ]:
#### Zadanie 1 - B
df = pd.read_excel('titanic_train.xlsx')
srednia_wieku = df['Age'].mean()
print('Średnia wieku:', srednia_wieku)

Średnia wieku: 29.69911764705882

In [ ]:

print(dir(df))

['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId', 'Pclass', 'Sex', 'SibSp', 'Survived', 'T', 'Ticket', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__dataframe__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_sliced', '_convert', '_count_level', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_from_arrays', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_dict_of_blocks', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [ ]:
#### Zadanie 1 - C
suma_survived = df['Survived'].sum()
print('Suma osób które przeżyło katastrofę statku:', suma_survived)

Suma osób które przeżyło katastrofę statku: 342

In [ ]:
#### Zadanie 1 - D
male_stats = df[df['Sex'] == 'male']['Survived'].describe()
female_stats = df[df['Sex'] == 'female']['Survived'].describe()
print("Stats for Male:", male_stats)
print("Stats for Female:", female_stats)

Stats for Male: count    577.000000
mean       0.188908
std        0.391775
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: Survived, dtype: float64
Stats for Female: count    314.000000
mean       0.742038
std        0.438211
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [ ]:
#### Zadanie 1 - E
pclass1_sum = df[df['Pclass'] == 1]['Pclass'].sum()
pclass3_sum = df[df['Pclass'] == 3]['Pclass'].sum()

print("Suma dla 1 Klasy:", pclass1_sum)
print("Suma dla 3 Klasy:", pclass3_sum)

Suma dla 1 Klasy: 216
Suma dla 3 Klasy: 1473

In [ ]:

data.columns

In [ ]:
meanAge = data[['Age']].mean()  # nazwa zmiennej w Camel meanAge
mean_age = data[['Age']].mean()  # nazwa zmiennej w sneake mean_age

In [ ]:
statisticSex = data[['Sex']].describe()
statisticSexdfs.groupby(['price'])

In [ ]:
dataSex = data.groupby(['Sex'])

In [ ]:
dataSex.describe()

## Metody .loc i .iloc - służą do selekcji danych
#### składnia:  nazwaObiektu.loc[numbersRows, nameColumns]      oraz   nazwaObiektu.iloc[numbersRows, numbersColumns]

#### Zadanie 2 Zapoznaj się z przykładami działania metod .loc oraz .iloc

In [ ]:
 data = pd.read_excel('titanic_train.xlsx')
 print(data.loc[5])  # wyświetl dane 6 wiersz i wszystkie kolumny
 print(data.loc[5:10]) # wyświetl 6,...,9 wiersze i wszystkie kolumny
 print(data.loc[5, 'Name']) # wyświetl 6 wiersz z kolumny 'Name'
 print(data.loc[5:10, 'Name'])  # wyświetl 6,...,9 wiersze z kolumny 'Name'
 print(data.columns)
 print(data.loc[5:10, :'Pclass']) # wyświetl 6,...,10 wiersze i wszystkie kolumny poprzedzające kolumne 'Pclass'
 print(data.loc[5:10, ['Name', 'Pclass', 'Survived']]) # wyświetl 6,...,10 wiersze i kolumny 'Name', 'Pclass', 'Survived'

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object
    PassengerId  Survived  Pclass  \
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3

                                                 Name     Sex   Age  SibSp  \
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1

    Parch   Ticket     Fare Cabin Embarked
5       0   330877   8.4583   NaN        Q
6       0    17463  51.8625   E46        S
7       1   349909  21.0750   NaN        S
8       2   347742  11.1333   NaN        S
9       0   237736  30.0708   NaN        C
10      1  PP 9549  16.7000    G6        S
Moran, Mr. James
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
    PassengerId  Survived  Pclass
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3
                                                 Name  Pclass  Survived
5                                    Moran, Mr. James       3         0
6                             McCarthy, Mr. Timothy J       1         0
7                      Palsson, Master. Gosta Leonard       3         0
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)       3         1
9                 Nasser, Mrs. Nicholas (Adele Achem)       2         1
10                    Sandstrom, Miss. Marguerite Rut       3         1

In [ ]:
print(data.loc[5])  # wyświetl dane 6 wiersz i wszystkie kolumny
print(data.loc[5:10]) # wyświetl 6,...,9 wiersze i wszystkie kolumny
print(data.loc[5, 'Name']) # wyświetl 6 wiersz z kolumny 'Name'
print(data.loc[5:10, 'Name'])  # wyświetl 6,...,9 wiersze z kolumny 'Name'
print(data.columns)
print(data.loc[5:10, :'Pclass']) # wyświetl 6,...,10 wiersze i wszystkie kolumny poprzedzające kolumne 'Pclass'
print(data.loc[5:10, ['Name', 'Pclass', 'Survived']]) # wyświetl 6,...,10 wiersze i kolumny 'Name', 'Pclass', 'Survived'

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object
    PassengerId  Survived  Pclass  \
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3

                                                 Name     Sex   Age  SibSp  \
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1

    Parch   Ticket     Fare Cabin Embarked
5       0   330877   8.4583   NaN        Q
6       0    17463  51.8625   E46        S
7       1   349909  21.0750   NaN        S
8       2   347742  11.1333   NaN        S
9       0   237736  30.0708   NaN        C
10      1  PP 9549  16.7000    G6        S
Moran, Mr. James
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
    PassengerId  Survived  Pclass
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3
                                                 Name  Pclass  Survived
5                                    Moran, Mr. James       3         0
6                             McCarthy, Mr. Timothy J       1         0
7                      Palsson, Master. Gosta Leonard       3         0
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)       3         1
9                 Nasser, Mrs. Nicholas (Adele Achem)       2         1
10                    Sandstrom, Miss. Marguerite Rut       3         1

In [ ]:
 print(data.iloc[1])
 print(data.iloc[5:10])
 print(data.iloc[5, 3])  # dane: 5 wiersz 3 kolumna
 print(data.iloc[5:10, 3])
 print(data.iloc[5:10, :3])
 print(data.iloc[range(0, 50, 5), [1, 3]]) # dane: wiersze od 0 do 50 z krokiem 5, kolumny: 1, 3
 print(data.iloc[:50:5, [1, 3]]) # analog do formuły powyżej
 print(data.iloc[-10:]) # minus oznacza liczenie od końca tu wyświetl od 10 wiersza od końca
 print(data.Pclass.max()) # Wartość max i min dla kolumny Pclass
 print(data.Pclass.min())
 print(data.Pclass.sum()) # Wartość sumy dla kolumny Pclass
 print(data['Cabin'])
 print(data.Cabin.fillna(0)) # wstaw 0 w rekordy w których brakuje danych czyli jest NaN w kolumnie Cabin

PassengerId                                                    2
Survived                                                       1
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                         38.0
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object
   PassengerId  Survived  Pclass  \
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch  Ticket     Fare Cabin Embarked
5      0  330877   8.4583   NaN        Q
6      0   17463  51.8625   E46        S
7      1  349909  21.0750   NaN        S
8      2  347742  11.1333   NaN        S
9      0  237736  30.0708   NaN        C
Moran, Mr. James
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object
   PassengerId  Survived  Pclass
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2
    Survived                                               Name
0          0                            Braund, Mr. Owen Harris
5          0                                   Moran, Mr. James
10         1                    Sandstrom, Miss. Marguerite Rut
15         1                   Hewlett, Mrs. (Mary D Kingcome)
20         0                               Fynney, Mr. Joseph J
25         1  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
30         0                           Uruchurtu, Don. Manuel E
35         0                     Holverson, Mr. Alexander Oskar
40         0     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
45         0                           Rogers, Mr. William John
    Survived                                               Name
0          0                            Braund, Mr. Owen Harris
5          0                                   Moran, Mr. James
10         1                    Sandstrom, Miss. Marguerite Rut
15         1                   Hewlett, Mrs. (Mary D Kingcome)
20         0                               Fynney, Mr. Joseph J
25         1  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
30         0                           Uruchurtu, Don. Manuel E
35         0                     Holverson, Mr. Alexander Oskar
40         0     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
45         0                           Rogers, Mr. William John
     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q
3
1
2057
0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object
0         0
1       C85
2         0
3      C123
4         0
       ...
886       0
887     B42
888       0
889    C148
890       0
Name: Cabin, Length: 891, dtype: object

In [ ]:
mean_age

#### Zadanie 3
#### a) Podaj wiek najmłodszego pasażera statku
#### b) imputacja danych: podstaw wartość średnią za NaN w kolumnie Age
#### c) wyświetl wiersze 2,4,30 i tylko 3 kolumny Age Name Sex

In [ ]:

#### Zadanie 3 - A
df = pd.read_excel('titanic_train.xlsx')
najmniejszy_wiek = df['Age'].min()
print("Najmniejszy wiek:", najmniejszy_wiek)

Najmniejszy wiek: 0.42

In [1]:
#### Zadanie 3 - B
srednia_wiek = df['Age'].mean()
df['Age'].fillna(srednia_wiek, inplace=True)
print(df)

NameError: ignored

In [ ]:
#### Zadanie 3 - C
wybrane_wiersze = [2, 4, 30]
wybrane_kolumny = ['Age', 'Name', 'Sex']
df_wybrane = df.loc[wybrane_wiersze, wybrane_kolumny]
print(df_wybrane)

     Age                      Name     Sex
2   26.0    Heikkinen, Miss. Laina  female
4   35.0  Allen, Mr. William Henry    male
30  40.0  Uruchurtu, Don. Manuel E    male

In [ ]:
####

#### Zadanie 4  Zapoznaj się z warunkową selekcją zmiennych

In [ ]:
#print(data['Pclass'] == 3) # określa które rekordy/wiersze kolumny Pclass mają bilet klasy 3
#print(data.loc[data['Pclass'] == 3]) # wyświetla tylko te wiersze dla których w kolumnie Pclass jest bilet klasy 3
#print(data[data['Pclass'] == 3]) # analog powyższej formuły
# z1 = data[data['Pclass'] == 3]
# z1
#print(data[data['Cabin'].isin(['C85', 'C123'])])  # szukanie w kolumnie 'Cabin' konkretnych elementów/wartości tj.'C85', 'C123'
print(data[(data['Cabin'] == 'C123') & (data['Pclass']==1)]) # wiele warunków równocześnie  & => odpowiednik and

     PassengerId  Survived  Pclass  \
3              4         1       1
137          138         0       1

                                             Name     Sex   Age  SibSp  Parch  \
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0
137                   Futrelle, Mr. Jacques Heath    male  37.0      1      0

     Ticket  Fare Cabin Embarked
3    113803  53.1  C123        S
137  113803  53.1  C123        S

In [ ]:
#### Zadanie 5
#### a) wyswietl dane pasażerów którzy mają wiek poniżej 25 lat i bilet klasy 2 zapisz uzyskane do pliku na dysk
#### b) wyświetl ile osób podróżowało statkiem, podaj w/w dane z podziałem na kategorie np.: płeć, klasa biletu, wiek (grupy co 10 lat)
#### c) określ ile osób przeżyło katastrofę statku

In [ ]:
#### Zadanie 5 - A
df_filtered = df[(df['Age'] < 25) & (df['Pclass'] == 2)]
print(df_filtered)
df_filtered.to_excel('titanic2.xlsx', index=False)

In [ ]:
#### Zadanie 5 - B
liczba_osob = len(df)
podzial_plec = df['Sex'].value_counts()
podzial_klasa = df['Pclass'].value_counts()
podzial_wiek = pd.cut(df['Age'], bins=range(0, 101, 10), right=False).value_counts()
print("Liczba osób podróżujących statkiem:", liczba_osob)
print("Płeć:", podzial_plec)
print("Klasa biletu:", podzial_klasa)
print("Wiek (grupy co 10 lat):", podzial_wiek)

Liczba osób podróżujących statkiem: 891
Płeć: male      577
female    314
Name: Sex, dtype: int64
Klasa biletu: 3    491
1    216
2    184
Name: Pclass, dtype: int64
Wiek (grupy co 10 lat): [20, 30)     397
[30, 40)     167
[10, 20)     102
[40, 50)      89
[0, 10)       62
[50, 60)      48
[60, 70)      19
[70, 80)       6
[80, 90)       1
[90, 100)      0
Name: Age, dtype: int64

In [ ]:
#### Zadanie 5 - C
survived = df['Survived'].sum()
print("Liczba osób, które przeżyły:", survived)

Liczba osób, które przeżyły: 342

In [ ]:
#### Zadanie 6 
#### a) korzystając z data2 = pd.read_csv(os.path.join(folder_path, 'movies.csv'))      odczytaj dane movies.csv
#### b) określ ile filmów nakręcono w każdym roku
#### c) określ który film miał najwięcej lajków na facebook-u
#### d) podziel zbiór ze względu na kategorię country lub color i określ dla każdej kategorii liczbę filmów o budżecie > 240mln
#### e) jaki film wykonany w kolorze miał największy budżet?
#### f) Czy w zbiorze znajdują się dane dla filmu Piraci z karaibów? Jeśli tak to ile kosztował ten film i kto był jego reżyserem
#### g) Jaki film miał największy budżet

In [ ]:
#### Zadanie 6 - A
data2 = pd.read_csv(os.path.join('movies.csv'))

print(data2)

In [ ]:
#### Zadanie 6 - B   Dwa rozwiazania #


# lista = data2.groupby('title_year')['movie_title'].unique()
# for title_year, movie_titles in lista.items():
#     print("Rok:", title_year)
#     print("Lista movie_title:")
#     for title in movie_titles:
#         print(title)
#     print()

#### Zadanie 6 - B lub

liczba = data2.groupby('title_year')['movie_title'].nunique()
print(liczba)

title_year
1916.0      1
1920.0      1
1925.0      1
1927.0      1
1929.0      2
         ...
2012.0    214
2013.0    231
2014.0    243
2015.0    211
2016.0     98
Name: movie_title, Length: 91, dtype: int64

In [ ]:
#### Zadanie 6 - C
najwiecej_likes = data2.loc[data2['movie_facebook_likes'].idxmax(), 'movie_title']
print("Film z największą liczbą facebook likes':", najwiecej_likes)

Film z największą liczbą facebook likes': Interstellar

In [ ]:
#### Zadanie 6 - D
films_by_country = data2[data2['budget'] > 240e6].groupby('country').size()
films_by_color = data2[data2['budget'] > 240e6].groupby('color').size()
print("Liczba filmów o budżecie > 240mln dla kategorii:", films_by_country)
print("Liczba filmów o budżecie > 240mln dla kategorii:", films_by_color)

Liczba filmów o budżecie > 240mln dla kategorii: country
China           1
France          1
Hungary         1
India           2
Japan           4
New Zealand     1
South Korea     2
Spain           1
Thailand        2
UK              2
USA            10
dtype: int64
Liczba filmów o budżecie > 240mln dla kategorii: color
Color    27
dtype: int64

In [ ]:
#### Zadanie 6 - E
df_kolor = data2[data2['color'] == 'Color']
najwiekszy_budzet = df_kolor.loc[df_kolor['budget'].idxmax(), 'movie_title']
print("Film w kolorze z największym budżetem:  '", najwiekszy_budzet ,"'  !")

Film w kolorze z największym budżetem:  ' The Host '  !

In [ ]:
#### Zadanie 6 - F
# Sprawdzenie, czy film "Piraci z Karaibów" znajduje się w data2
if any(data2['movie_title'] == 'Pirates of the Caribbean: The Curse of the Black Pearl'):
    koszty = data2.loc[data2['movie_title'] == 'Pirates of the Caribbean: The Curse of the Black Pearl', 'budget'].values[0]
    rezyser = data2.loc[data2['movie_title'] == 'Pirates of the Caribbean: The Curse of the Black Pearl', 'director_name'].values[0]
    print("Film 'Piraci z Karaibów':")
    print("Koszt:", koszty)
    print("Reżyser:", rezyser)
else:
    print("Film 'Piraci z Karaibów' nie znajduje się w zbiorze danych.")

Film 'Piraci z Karaibów':
Koszty: 140000000.0
Reżyser: Gore Verbinski

In [ ]:
#### Zadanie 6 - G 
# Znalezienie filmu z największym budżetem
film = data2.loc[data2['budget'].idxmax(), 'movie_title']
print("Film z największym budżetem:", film)

Film z największym budżetem: The Host

### Łączenie danych tabelarycznych (concatenate)
funkcja concat() - domyślnie względem wierszy

pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                     'B': ['B4', 'B5', 'B6', 'B7'],
                     'C': ['C4', 'C5', 'C6', 'C7'],
                     'D': ['D4', 'D5', 'D6', 'D7']},
                      index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                     'D': ['D8', 'D9', 'D10', 'D11']},
                     index=[8, 9, 10, 11])

frame = [df1, df2, df3]

In [ ]:
pd.concat(frame)

In [ ]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                  'D': ['D2', 'D3', 'D6', 'D7'],
                  'F': ['F2', 'F3', 'F6', 'F7']},
                 index=[2, 3, 6, 7])

In [ ]:
pd.concat([df1, df4], axis=1)   # łączenie ze wskazaniem pozycji w tabeli

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [ ]:
pd.concat([df1, df4], axis=1, join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

Funkcja merge() - względem kolumn, indeksów
merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)

In [ ]:
 left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
# kluczowy argument to how który określa sposób łącznie danych, mamy warianty:
#left,           right, outer, inner
pd.merge(left, right, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3